<div>
    <p id="question">{{question}}</p>
    <div>
        <button id="option1" >{{options.[0]}}</button>
        <button id="option2" >{{options.[1]}}</button>
        <button id="option3" >{{options.[2]}}</button>
        <button id="option4" >{{options.[3]}}</button>
    </div>
    <button id="submitBtn">Submit</button>
</div>